<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Saúde Digital - Agendamento de Vacinas</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../vitoria/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<header class="main-header">
        <div class="header-content">
                <span class="logo-text">ImmunoTrack</span>
            </a>
            <nav class="main-nav">
                <ul>
                    <li>
                        <a href="../vitoria/index.html" onclick="goBack()" class="nav-link"><i class="fas fa-house"></i> Inicio</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link btn-voltar" onclick="goBack()"><i class="fas fa-arrow-left"></i> Voltar</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div id="app"></div>

    <!-- Lucide Icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="app.js"></script>
</body>
</html>
